.Counter{
    position: relative;
    padding: 20px;
}

button{
    cursor: pointer;
    margin-right: 10px;
    &:last-child{
        margin-right: 0px;
    }
}
.StatisticsValue{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    &:last-child{
        margin-bottom: 0px;
    }
}